body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #1e293b, #0f172a);
  color: white;
  text-align: center;
}

h1 {
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.camera-box {
  width: 300px;
  height: 300px;
  border: 3px solid #00e0ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-box {
  width: 300px;
  background: #1f1f1f;
  padding: 25px;
  border-radius: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #00e0ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  opacity: 0.8;
}

.results {
  margin-top: 20px;
}

.score {
  margin-top: 20px;
}
